/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
font-family: 'Raleway', Helvetica, Arial, sans-serif;
background-color: #F7B617;
color: #fff;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* ESTILOS BÃSICOS */
h1, h2, h3, h4, h5, h6 {
font-family: 'Raleway', Helvetica, Arial, sans-serif;
font-weight: 500;
}
h1 {
font-size: 3rem;
}
h2 {
font-size: 2.5rem;
}
h3 {
font-size: 1.5rem;
}
h4 {
font-size: 1.5rem;
}
input, select {
width: 100%;
border-radius: 3px;
border: 1px solid #f1f1f1;
line-height: 120%;
padding: 1%;
font-size: 120%;
transition: .5s ease all;
background: rgba(255,255,255,.9);
}
input::placeholder {
color: #fff;
}
a, a:hover, a:focus, a:active,
.btn, .btn:hover, .btn:active, .btn:focus {
	transition: .5s ease all;
	letter-spacing: 1px;
}
.btn-default {
color: #fff;
transition: .5s ease all;
border: 1px solid #fff;
background-color: transparent;
}
.btn-default:hover, 
.btn-default:active, 
.btn-default:focus {
background-color: #fff;
transition: .5s ease all;
color: #F7B617;
border-color: #fff;
}
.btn-primary {
    color: #2b2b2b;
    background-color: #fff;
    border-color: #fff;
    font-size: 120%;
    font-weight: 700;
}
.btn-primary:hover, 
.btn-primary:active, 
.btn-primary:focus {
    color: #F7B617;
    background-color: #fff;
    border-color: #fff;
    font-size: 120%;
    font-weight: 700;
}
.btn-secondary {
    color: #fff;
    background-color: #F7B617;
    border-color: #F7B617;
    font-size: 120%;
    font-weight: 700;
    width: 80%;
}
.btn-secondary:hover, 
.btn-secondary:active, 
.btn-secondary:focus {
    color: #2b2b2b;
    background-color: #fff;
    border-color: #fff;
    font-size: 120%;
    font-weight: 700;
}
p {
font-family: 'Raleway', Helvetica, Arial, sans-serif;
}
b {
font-weight: 800;
color: #fff;
}
small {
font-size: .8rem;
}
menu {
	background-color: #fff;
	color: #2B2B2B;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
}
footer {
display: block;
width: 100%;
padding: 5em 1em;
overflow: hidden;
background-color: #2B2B2B;
color: #fff;
}
footer a {
	color: #fff;
}
footer a:hover,
footer a:focus,
footer a:active {
	color: #F7B617;
	text-decoration: none;
}
.foo-top {
    border-bottom: 1px solid #fff;
    padding: 0 0 15px;
    margin: 0 0 30px;
}
.foo-bot {
    border-top: 1px solid #fff;
    padding: 15px 0 0;
    margin: 30px 0 0;
    text-align: center;
}
footer ul.list li {
    padding: 10px 0;
    font-size: 85%;
}
footer .flex {
	flex-direction: column;
    height: 260px;
    justify-content: flex-end;
}
footer ul.social li {
	display: inline-block;
}
.stores li {
    margin-top: 1em;
}
/*INPUT CHECK*/
input[type|=check] {
display: inline-block;
width: auto;
}
label[for|=check] {
font-family: 'Raleway', Helvetica, Arial, sans-serif;
font-weight: normal;
display: inline-block;
}
/* INPUT NUMBER SIN FLECHAS */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0; 
}
img {
    max-width: 100%;
    height: initial;
}

/* Especial */
.flex {
	display: flex;
}
.box {
	color: #fff;
	background-color: #F7B617;
    padding: 2em;
}
/*
//	NAVBAR
*/
.navbar-default {
    background-color: #fff;
    height: 120px;
    border-color: transparent;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #F7B617;
    background-color: transparent;
}
.navbar-brand {
	padding: 0
}
.navbar-default .navbar-nav>li>a {
    color: #2B2B2B;
    padding-top: 10px;
    font-weight: 500;
}
/*
// HEADER
*/
header {
	background-image: url("../img/taxi.jpg");
	position: relative;
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: row;
}
header .box .lead {
		margin: 1em 0 1em;
    font-weight: 500;
    font-size: 1.7rem;
}
header .box.xs {
    max-width: 80%;
}
.lines {
    margin: 2em 0;
    position: relative;
	text-align: center;
}
.lines:before,
.lines:after {
	content: '';
	height: 1px;
	width: 40%;
	position: absolute;
	background-color: #fff;
    top: 45%;
}
.lines:before {
	left: 0;
}
.lines:after {
	right: 0;
}
.box.xs h2 {
    margin-bottom: 1em;
}
/*
// 	APP
*/
#app {
    padding: 3em 0;
}
#app .box {
    border: 1px solid;
}
#app .box img {
    margin: 0 auto;
    display: block;
}
#app .box .left h2 {
	margin: 2em 0 1em;
}
/*
//	DRIVER
*/
#driver {
	background-image: url("../img/conduce.jpg");
	position: relative;
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
	height: 50vh;
}
#driver .shadow-box {
    background-color: rgba(0, 0, 0, 0.4);
    height: 50vh;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#driver .shadow-box p {
    margin: 2em 0 1em;
    line-height: 140%;
}
/*
//	MAP
*/
#g-map {
    padding: 2em 0;
}
#g-map .text {
    padding: 5em 1em;
}
#g-map .text p {
    margin: 1em 0 2em;
}
#g-map .text form {
    text-align: center;
}
#g-map .text .form-group {
    font-size: 25px;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#g-map .text .form-control {
    width: 90%;
    float: right;
    background: none;
    color: #fff;
    border: 1px solid #fff;
}
#g-map .map-box {
    height: 500px;
    padding: 15px;
    border: 1px solid;
}
#g-map .map-box #map {
	height: 470px;
	color: #2b2b2b;
}