/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
font-family: 'Raleway', Helvetica, Arial, sans-serif;
background-color: #F7B617;
color: #fff;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* ESTILOS BÁSICOS */
h1, h2, h3, h4, h5, h6 {
font-family: 'Raleway', Helvetica, Arial, sans-serif;
}
h1 {
font-size: 3rem;
}
h2 {
font-size: 2.5rem;
}
h3 {
font-size: 1.5rem;
}
h4 {
font-size: 1.5rem;
}
input, select {
width: 100%;
border-radius: 3px;
border: 1px solid #f1f1f1;
line-height: 120%;
padding: 1%;
font-size: 120%;
transition: .5s ease all;
background: rgba(255,255,255,.9);
}
input::placeholder {
color: gray;
}
a, a:hover, a:focus, a:active,
.btn, .btn:hover, .btn:active, .btn:focus {
	transition: .5s ease all;
}
.btn {
color: #fff;
transition: .5s ease all;
border: 1px solid #fff;
}
.btn:hover, .btn:active, .btn:focus {
background-color: #fff;
transition: .5s ease all;
color: #F7B617;
}
p {
font-family: 'Raleway', Helvetica, Arial, sans-serif;
}
b {
font-weight: 800;
color: #fff;
}
small {
font-size: .8rem;
}
menu {
	background-color: #fff;
	color: #2B2B2B;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
}
footer {
display: block;
width: 100%;
margin: 5em 0 0;
padding: 0 0 2em;
overflow: hidden;
background-color: #2B2B2B;
}
/*INPUT CHECK*/
input[type|=check] {
display: inline-block;
width: auto;
}
label[for|=check] {
font-family: 'Raleway', Helvetica, Arial, sans-serif;
font-weight: normal;
display: inline-block;
}
/* INPUT NUMBER SIN FLECHAS */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0; 
}

/* Especial */

/*
//	NAVBAR
*/
.navbar-default {
    background-color: #fff;
    height: 120px;
    border-color: transparent;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #F7B617;
    background-color: transparent;
}
.navbar-brand {
	padding: 0
}
.navbar-default .navbar-nav>li>a {
    color: #2B2B2B;
    padding-top: 10px;
    font-weight: 400;
}

/*
// HEADER
*/
header {
	background-image: url("../img/taxi.jpg");
	position: relative;
	background-size: cover;
	background-position: bottom;
	background-attachment: fixed;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: row;
}
header .box {
	color: #fff;
	background-color: #F7B617;
}